parameters:
#    util_comun.example.class: Util\ComunBundle\Example

services:
#    util_comun.example:
#        class: %util_comun.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
