<br>
<div style="width: 430px">
    <div style="text-align: center;"><b>Centro Integral de Pediatría y Neonatología - "Divino Niño Jesus" S.A.</b></div>
    <div style="text-align: center;">Avda. Gobernador Gordillo N° 66 - Tel. 0380 - 4466441 -La Rioja</div>
</div>    
<hr>
<br>