{% extends "ComunComunBundle:Default:layout.html.twig" %}

{% block admin_title %}
    Editar médico
{% endblock %}

{% block admin_actions %}
    <li><a href="{{ path('medico') }}"><i class="icon-chevron-left"></i> Volver a listado</a></li>
    <li><a href="{{ path('medico_crear') }}"><i class="icon-plus"></i> Crear</a></li>    
{% endblock %}

{% set admin_menu_active = 'medico' %}
    
{% block admin_content %}
        
    <form class="form-horizontal" method="POST" action="{{ path('medico_editar', {'id':entity.id}) }}">

        {% include 'CipenMedicoBundle:Medico:_form.html.twig' %}        
        
        <div class="form-actions">
            <button class="btn btn-success pull-right" type="submit">Guardar</button>
        </div>
        
    </form>
    
{% endblock %}