imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: doctrine_extensions.yml }    
    - { resource: "@ComunComunBundle/Resources/config/services.yml" }  #servicio del bundle comun    

framework:
    #esi:             ~
    translator:      ~
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: "%kernel.debug%"
    form:            true
    csrf_protection: true
    validation:      { enable_annotations: true }
    templating:      { engines: ['twig'] } #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trust_proxy_headers: false # Deprecated in 2.0; will be removed in 2.3 (used trusted_proxies instead)
    trusted_proxies: ~
    session:         ~

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form:
      resources:
        - 'ComunComunBundle:Form:fields.html.twig'

# Assetic Configuration
assetic:
    debug:          "%kernel.debug%"
    use_controller: false
    bundles:        [ComunComunBundle]
    #java:           /usr/bin/java
    filters:
        cssrewrite: ~
        lessphp:
          apply_to: '\.less$'
        scssphp:
          apply_to: '\.scss$'
        closure:
            jar: "%kernel.root_dir%/Resources/java/compiler.jar"
        yui_css:
            jar: "%kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   "%database_driver%"
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        auto_mapping: true
        mappings:
          tree:
              type: annotation
              alias: Gedmo
              prefix: Gedmo\Tree\Entity
              dir: "%kernel.root_dir%/../vendor/gedmo/doctrine-extensions/lib/Gedmo/Tree/Entity"
        dql:
          datetime_functions:
            month: "Comun\ComunBundle\DoctrineExtensions\Month"
            year:  "Comun\ComunBundle\DoctrineExtensions\Year"

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

ps_pdf:
    nodes_file: ~
    fonts_file: ~
    complex_attributes_file: ~
    colors_file: ~
    use_cache_in_stylesheet: ~
    cache:
      type: ~
      options: ~
    markdown_stylesheet_filepath: ~
    markdown_document_template_filepath: ~
    document_parser_type: ~

knp_paginator:
    page_range: 7  # número de páginas que se muestran en el paginador

    default_options:
        # los siguientes tres parámetros permiten "traducir" el paginador
        # puedes utilizar por ejemplo: 'pagina', 'ordenar' y 'direccion'
        page_name:           page
        sort_field_name:     sort
        sort_direction_name: direction

        # sólo incluir resultados diferentes (útil cuando haces consultas GROUP BY)
        distinct: true

    template:
        # estas opciones configuran la plantilla utilizada para la paginación
        # y para los controles que premiten reordenar los resultados
        pagination: KnpPaginatorBundle:Pagination:twitter_bootstrap_pagination.html.twig
        sortable:   KnpPaginatorBundle:Pagination:sortable_link.html.twig


fos_user:
    # tipo de ORM/ODB que utilizas (también puede ser 'mongodb', 'couchdb' y 'propel')
    db_driver:     orm
    # el nombre de tu firewall
    firewall_name: main
    # el namespace de tu clase 'User' específica
    user_class:    Cipen\UsuarioBundle\Entity\Usuario