{% extends "CipenPrestacionBundle:Acto:editar_layout.html.twig" %}
            
{% block admin_content %}

   <ul class="nav nav-tabs">
        <li class="active"><a href="{{ path('acto_editar', { id: entity.id }) }}">Datos de acto médico</a></li>
        <li><a href="{{ path('acto_unidad', { actoId: entity.id }) }}">Obras Sociales</a></li>
    </ul>  
        
    <form class="form-horizontal" method="POST" action="{{ path('acto_editar', {'id':entity.id}) }}">

        {% include 'CipenPrestacionBundle:Acto:_form.html.twig' %}        
        
        <div class="form-actions">
            <button class="btn btn-success pull-right" type="submit">Guardar</button>
        </div>
        
    </form>
    
{% endblock %}