{% extends "ComunComunBundle:Default:layout.html.twig" %}

{% block admin_title %}
    Editar dignóstico
{% endblock %}

{% block admin_actions %}
    <li><a href="{{ path('diagnostico') }}"><i class="icon-chevron-left"></i> Volver a listado</a></li>
    <li><a href="{{ path('diagnostico_crear') }}"><i class="icon-plus"></i> Crear</a></li>    
{% endblock %}
    
{% set admin_menu_active = 'diagnostico' %}
    
{% block admin_content %}
        
    <form novalidate="novalidate" class="form-horizontal" method="POST" action="{{ path('diagnostico_editar', { 'id': entity.id }) }}">

        {% include 'CipenDiagnosticoBundle:Diagnostico:_form.html.twig' %}        
        
        <div class="form-actions">
            <button class="btn btn-success pull-right" type="submit">Guardar</button>
        </div>
        
    </form>
    
{% endblock %}